body {
    margin: auto;
    margin-top: 4.8em;
    max-width: 55em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #87BDD8;
}

.topbar {
    position: fixed;
    background-color: #B7D7E8;
    width: 100%;
    top: 0;
    left: 0;
    height: 3.715em;
    z-index: -1;
}

.topnav {
    width: 55em;
    background-color: #B7D7E8;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin: auto;
}

.topnav h3 {
    padding: 0 .625em;
    float: left;
}

.topnav p {
    padding: 0.25em .625em 0;
    float: right;
}

.topnav a {
    text-decoration: none;
}

form:not(#search-form):not(#comment-form){
    padding: 20em;
    overflow: hidden;
    border-radius: .3em;
}

.post {
    width: 55em;
    min-height: 5.8em;
    background-color: #DAEBE8;
    overflow: hidden;
    border-radius: .3em;
    margin: .625em 0;
    overflow-wrap: break-word;
}

.post p {
    padding: 0 .625em;
    font-size: 125%;
}

#post_info {
    font-size: 90%;
    padding: 0 .925em;
}

.channel_suggestion {
    width: 55em;
    height: 5.8em;
    background-color: #DAEBE8;
    overflow: hidden;
    border-radius: .3em;
    margin: 10px 0px;
    position: relative;
}

#inner_sug {
    position: absolute;
    top: .6em;
    left: 13em;
    font-size: 125%;
}

.sidebar {
    right: 0;
    position: fixed;
    width: 20em;
    height: 5.8em;
    background-color: #B7D7E8;
    border-radius: .3em;
    margin: 0 .5em;
    z-index: -1;
}

.search {
    margin: .3em .5em;
    position: absolute;
}

.search textarea {
    margin: 0 0 0.4em;
}

.sidebar_new {
    right: 0;
    top: 11.23em;
    position: fixed;
    width: 20em;
    height: 5.8em;
    background-color: #B7D7E8;
    border-radius: .3em;
    margin: 0 .5em;
    z-index: -1;
}

.new_post {
    padding: 2.3em 7.5em 2.3em 5.5em;
    position: absolute;
    text-decoration: none;
    color: #000;
}

.error-messages {
    overflow: hidden;
    position: fixed;
    left: 0;
    width: 22em;
    height: 100%;
    margin: 0 .5em;
    z-index: -1;
}

.message {
    margin: .625em 0;
    position: absolute;
    background-color: #B7D7E8;
    padding: .3em;
    width: 20em;
    border-radius: .3em;
    min-height: 3.4em;
    overflow-wrap: break-word;
}

.empty {
    position: fixed;
    width: 55em;
    height: 97.5%;
    background-color: #c3dbe9;
    overflow: hidden;
    border-radius: .3em;
    z-index: -1;
}

.empty-message {
    padding: 10em 6.5em;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
}
