body {
    margin-top: 4.8em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #87BDD8;
}

.topbar {
    position: fixed;
    background-color: #B7D7E8;
    width: 100%;
    top: 0;
    left: 0;
    height: 3.715em;
}

.topnav {
    width: 100%;
    background-color: #B7D7E8;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin: auto;
    height: 3.715em;
}

.topnav h3 {
    padding: 0 .625em;
    position: absolute;
    left: .3em;
}

.topnav p {
    padding: 0.3em 1em 0;
    position: absolute;
    right: 0;
}

.topnav a {
    text-decoration: none;
}

form:not(#search-form):not(#comment-form):not(#remove){
    padding: 20em 0;
    text-align: center;
    overflow: hidden;
}

.post {
    width: 100%;
    min-height: 5.8em;
    background-color: #DAEBE8;
    overflow: hidden;
    border-radius: .3em;
    margin: .625em 0;
    overflow-wrap: break-word;
}

.post div:not(.search-result){
    padding: 1em .625em 0em;
    font-size: 125%;
}

#post-title {
    font-size: 150%;
    font-weight: bold;
    padding-left: .5em;
}

#post-creator {
    font-size: 100%;
    padding-left: .8em;
}

#post_info {
    font-size: 90%;
    padding: 0 .925em;
}

#comment-info {
    font-size: 90%;
    padding: .925em .925em 0;
}

#comment {
    padding: 0 .625em;
}

.search-result {
    padding: .625em 0 0;
    text-align: center;
    font-size: 125%;
}

.sidebar {
    width: 100%;
    height: 5.8em;
    background-color: #B7D7E8;
    border-radius: .3em;
    margin: auto;
    margin-bottom: .625em;
    text-align: center;
}

.search {
    margin: auto;
    padding: .3em 0;
    width: 90%;
}

.search textarea {
    margin-bottom: 0.4em;
}

.sidebar-new {
    width: 100%;
    height: 5.8em;
    background-color: #B7D7E8;
    border-radius: .3em;
    margin: auto;
    margin-bottom: .625em;
    text-decoration: none;
}

.new-post {
    text-align: center;
    color: #000;
    text-decoration: none;
}

#new-post-text {
    padding: 2.3em 0%;
}

.message {
    background-color: #ffdcb4;
    border-radius: .3em;
    min-height: 3.4em;
    overflow-wrap: break-word;
}

.message p {
    padding: 1em 0;
    text-align: center;
}

.empty {
    position: fixed;
    width: 100%;
    height: 60%;
    background-color: #c3dbe9;
    overflow: hidden;
    border-radius: .3em;
    z-index: -1;
}

.bg {
    z-index: 0;
}

.empty-message {
    padding: 30% 0;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
}

.new-comment {
    width: 100%;
}

a:hover:not(.topnav a) {
    background-color: moccasin;
}

@media only screen and (min-width: 1094px) {
    .col {width: 55%; margin: auto; margin-bottom: .625em;}
    .topnav {left: 22.5%;}
    .sidebar {width: 15%; margin: auto; margin-right: .5em; position: fixed; right: 0;}
    .sidebar-new {top: 11.5em;}
    .empty {left: 22.75%; width: 54.5%; height: 90%;}
    .message {position: fixed; width: 15%; min-height: 5.8em;}
}