<head>
    <!DOCTYPE html>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="topbar"></div>

<div class="topnav col">
    <h3><a href="/">etusivu</a> {% if channel_name %} | <a href="/ch/{{ channel_name }}">/ch/{{ channel_name }}</a>{% endif %}</h3>
    {% if session.user_id %}
    <p>{{ session["user_name"] }} | <a href="/logout">Kirjaudu ulos</a></p>
    {% else %}
    <P><a href="/login">Kirjaudu sisään</a></P>
    {% endif %}
</div>

<div class="sidebar">
    <div class="search">
        <form id="search-form" action="/ch/{{ channel_name }}/search" method="GET">
            <textarea type="text" name="query" placeholder="Hae aloitusta tai kanavaa" cols="35" rows="3" style="width: 100%; height: 65%;"></textarea>
            <br>
            <input type="submit" value="Hae">
            <select name="sort">
                <option value="date">päivällä</option>
                <option value="votes">äänillä</option>
            </select>
        </form>
    </div>
</div>

{% if session.user_id %}
<div class="sidebar-new sidebar">
    <a class="new-post" href="/ch/{{ channel_name }}/new">
        <div id="new-post-text">Luo uusi aloitus</div>
    </a>
</div>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="message">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}