<head>
    <!DOCTYPE html>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="topbar"></div>

<div class="topnav">
    <h3>Keskustelusovellus | <a href="/">etusivu</a></h3>
    <h3>/ch/{{ channel_name }}</h3>
    {% if session.user_id %}
    <p>{{ session["user_name"] }} | <a href="/logout">Kirjaudu ulos</a></p>
    {% else %}
    <P><a href="/login">Kirjaudu sisään</a></P>
    {% endif %}
</div>

<div class="sidebar">
    <div class="search">
        <form id="search-form" action="/ch/{{ channel_name }}/search" method="GET">
            <textarea type="text" name="query" placeholder="Hae aloitusta tai kanavaa" cols="35" rows="3"></textarea>
            <br>
            <input type="submit" value="Hae">
        </form>
    </div>
</div>

{% if session.user_id %}
<div class="sidebar_new">
    <a href="/ch/{{ channel_name }}/new">
        <div class="new_post">Luo uusi aloitus</div>
    </a>
</div>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="error-messages">
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}