<head>
    <!DOCTYPE html>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="topnav">
    <h3>Keskustelusovellus | <a href="/">etusivu</a></h3>
    <h3>/ch/{{ channel_name }}</h3>
    {% if session.user_id %}
    <p>Kirjautunut sisään | <a href="/logout">Kirjaudu ulos</a></p>
    {% else %}
    <P><a href="/login">Kirjaudu sisään</a></P>
    {% endif %}
</div>

<form action="/login" method="post">
Tunnus: <input type="text" name="username">
<p>
Salasana: <input type="password" name="password">
<p>
<input type="submit" value="Kirjaudu"> &ensp; <a href="/register">Luo uusi tunnus</a>
</form>