{% extends "layout.html" %}

{% block content %}

<h2>{{ post[0] }}</h2> 
{{ post[1] }} 
<hr>

{% if session.user_id %}
<form action="/ch/{{ channel_name }}/{{ post_id }}" method="POST">
<textarea type="text" name="comment" id="content" placeholder="Kirjoita tähän"></textarea>
<br>
<input type="submit" value="Lähetä">
</form>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

<p>
{% if not comments %}
Kommentteja ei vielä ole
{% else %}

{% for comment in comments %}
{{ comment[1] }} | {{ comment[2].strftime("%d.%m.%y, %H:%M:%S") }}
<p>
{{ comment[0] }}
<hr>
<hr>
{% endfor %}

{% endif %}

{% endblock %}